footer {
  .nav {
    display:block;
    .nav-link {
      display:block;
    }
    .nav-item {
      display:block;
      font-size: 14px;
      opacity: 0.7;
      transition: all 0.25s linear;
      &:hover{
        opacity: 1;
        transition: all 0.25s linear;
      }
    }
  }
}