<footer class="py-5 mt-auto bg-midnight text-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3  pb-5">
         <img src="images/logo-osacom-text-light-2026.svg" class="mb-3" style="max-width:110px" alt="OSA Com logo">
         <div class="small opacity-75">The Open Source Analytics Community. Project-neutral, open to all.</div>
      </div>
      <div class="col-12 col-sm-6 col-md-3  pb-5">
        <div class="section-header text-light">Community</div>
        <ul class="nav">
        <li class="nav-item"><a href="https://go.osacom.io/slack" target="_blank" class="nav-link px-0 text-light">Join the Slack</a></li>
        <li class="nav-item"><a href="./#events" class="nav-link px-0 text-light">Upcoming events</a></li>
        <li class="nav-item"><a href="./#subscribe-to-newsletter" class="nav-link px-0  text-light">Newsletter</a></li>
        <li class="nav-item"><a href="./#participate" class="nav-link px-0 text-light">Ways to participate</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3  pb-5">
        <div class="section-header text-light">Resources</div>
        <ul class="nav">
        <li class="nav-item"><a href="/posts" class="nav-link px-0 text-light">News & articles</a></li>
        <li class="nav-item"><a href="/sessions" class="nav-link px-0 text-light">OSA Con sessions</a></li>
        <li class="nav-item"><a href="https://www.youtube.com/@OpenSourceAnalyticsConference" target="_blank" class="nav-link px-0  text-light">YouTube recordings</a></li>
        <li class="nav-item"><a href="./manifesto" class="nav-link px-0 text-light">Manifesto</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3  pb-5">
        <div class="section-header text-light">Connect</div>
        <ul class="nav">
        <li class="nav-item"><a href="https://www.linkedin.com/showcase/osa-con/" target="_blank" class="nav-link px-0 text-light">LinkedIn</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link px-0 text-light">Contact the organizers</a></li>
        <li class="nav-item"><a href="/code-of-conduct" class="nav-link px-0  text-light">Code of Conduct</a></li>
        <li class="nav-item"><a href="/privacy-policy" class="nav-link px-0 text-light">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="row border-top opacity-50 py-3 small">
      &copy; {{ now.Year }} Open Source Analytics Community
    </div>
  </div>
</footer>