{{ $data := index .Site.Data }}

<section class="container border-bottom">
    <div class="vision-container">
      <div class="vision-text">
        {{ with $data.homepage }}
        <h3 style="max-width:620px">We’re setting the stage for a new chapter in open source analytics.</h3>
        <p>{{ .vision }}</p>
        {{ end }} 
      </div>
      <div class="vision-link">
        <a href="/manifesto" class="btn text-light btn-primary">Read our manifesto</a>
      </div>
    </div>
  </section>
  