<section id="partners" class="section partners">
    <div class="container">
  
      <div id="platinum">
        {{range $index, $value := where (where .Site.RegularPages "Section" "partners") ".Params.level" "founding" }} 
          {{ if eq $index 0 }}
            <h3 class="my-3 text-center">Founding members</h3>
            <div class="sponsor-strip platinum">
          {{ end }}
              <div class="sponsor-item">
                <a title="{{ .Title }}" href="{{ .Params.webUrl }}" target="_blank">
                <img class="img-fluid" src="{{ .Params.logo }}" alt="{{ .Title }}" />
                </a>
              </div>
        {{ end }}
            </div>
      </div>

      <p class="text-center">OSA Com is a project-neutral forum and is open to all open source developers. We welcome organizations who develop or depend on open source analytics to join our founding team. Help our community grow.</p>
  
    </div>
  </section>
  