{{ define "main" }}

{{ $data := index .Site.Data }}

<!-- MailerLite Universal -->
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '930977');
</script>
<!-- End MailerLite Universal -->

<section class="bd-masthead border-bottom">
  <div class="container mt-4">
    <div class="hero-container">
      <div class="hero-info">
        <h1 class="display-4 mb-3">The Open Source<br>Analytics Community</h1>
        <p class="hero-desc mb-4">{{ .Site.Params.Description }}</p>  
      </div>

      <div class="join-us mb-4">
        <!-- <div data-tf-live="01HT99QA9C1EZ3VPTHGHBEQA6J"></div><script src="//embed.typeform.com/next/embed.js"></script> -->
<button class="btn text-white btn-primary btn-lg ml-onclick-form" onclick="ml('show', '5iuNkn', true)">Join our community</button>
      </div>



    </div>
  </div>  
</section>
<section class="projects-section text-center">
  <p class="mt">Today’s analytic systems have been shaped by open source projects such as: </p>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper featured-projects">
    {{ range $data.homepage.projects }}
      <div class="swiper-slide project-logo"><img src="{{.image}}" alt="{{.name}}"></div>
    {{ end }}
    </div>
  </div>
</section >
<script>
var swiper = new Swiper(".mySwiper", {
  spaceBetween: 0,
  slidesPerView: 'auto',
  speed: 6000,
  centeredSlides: true,
  autoplay: {
    delay: 0,
    disableOnInteraction: false,
    waitforTransition: false,
  },
  loop: true,
});
</script>


{{ partial "manifesto" . }}

{{ partial "join-community" . }}

{{ partial "sponsors" . }}

{{ partial "latest-posts" . }}

{{ end }}
